<div class="col-md-12 text-center">
  <h1 id="welcome">Welcome to the Task Manager</h1>
  <a class="btn btn-info col-md-6" href="/tasks" role="button">Task Index</a>
  <a class="btn btn-primary col-md-6" href="/tasks/new" role="button">New Task</a>
</div>
