<form class="" action="/tasks/<%= @task.id %>" method="post">
  <h1>Edit task "<%= @task.title %>"</h1>
  <input type="hidden" name="_method" value="put">
  <input type="text" name="task[title]" value="<%= @task.title %>"><br>
  <textarea name="task[description]"><%= @task.description %></textarea><br>
  <input type="submit">
</form>
