<div id='new_task' class="col-md-12">

  <form action="/tasks" method="post">
    <h1>Enter a new task:</h1>
    <div class="form-group">
      <input type='task' class="form-control" name='task[title]' placeholder="Task Title"/><br/>
    </div>
    <textarea class="form-control" rows="4" name='task[description]' placeholder="Task Description"></textarea></br/>
    <input type='submit' value="Create Task" />
  </form>

</div>
