<div class="col-md-12">

  <div class="row">
    <a class="btn btn-info col-md-3" href="/" role="button">Dashboard</a>
    <a class="btn btn-default col-md-3" href="/tasks" role="button">Task Index</a>
  </div>

  <div class="row">
    <h1><%= @task.title %></h1>
  </div>

  <div class="row">
    <p><%= @task.description %></p>
  </div>

</div>
